<div class="row">
	<% @recipes.each do |recipe| %>
		<div class="col-sm-6 col-md-4">
			<strong><%= recipe.title %></strong>
			<div class="thumbnail">
				<%= image_tag recipe.image_url, size:"150x150" %>
			</div>
			<div class="caption">
				<%= recipe.items %><br>
				<%= recipe.process %><br>
				<%= link_to 'View', recipe_path(recipe) %>
				<%= link_to 'edit', edit_recipe_path(recipe) %>
				<%= link_to 'delete', recipe, method: :delete, data: {confirm: 'Delete recipe???'} %>
				<%= link_to 'add comment', new_recipe_review_path(recipe) %>
			</div>
	<% end %>
		</div>
</div>