<%= form_for :recipe, url: {action: 'create'}, :html => {:multipart => true} do |f| %>
	<p>
		<%= f.label ("Title:") %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label ("Ingredients:") %>
		<%= f.text_area :items %>
	</p>
	<p>
		<%= f.label ("Procedure:") %>
		<%= f.text_area :process %>
	</p>
	<p>
		<%= f.file_field :image %>	
	</p>
	<br>
	<%= submit_tag ("Save") %>
<% end %>
