%h1 Recipes#new
%p Find me in app/views/recipes/new.html.haml
= form_for :crecipe, url: {action: 'create'} do |f|
  = f.label :title
  %br
  = f.text_field :title, placeholder: "type here"
  = f.label :time
  %br
  = f.text_field :time
  %br
  = f.label :ingredient
  %br
  = f.text_field :ingredient
  %br
  = f.label :producer
  %br
  = f.text_field :producer
  %br
  = submit_tag ("save")