<p>
	<%= image_tag @recipe.image_url, size:"200x200" %>
</p>
<p>
	<strong>Recipe:</strong>
	<%= @recipe.title %>
</p>
<p>
	<strong>Ingredients:</strong>
	<%= @recipe.items %>
</p>
<p>
	<strong>Procedure:<uplotrong>
	<%= @recipe.process %>
</p>
<p>
	<strong>Reviews:</strong>
	<table>
		<% @reviews.each do |review| %>
			<tr>
				<td><%= review.comment %></td>
			</tr>
		<% end %>
	</table>
</p>